extends layout

block content

  include scripts.html
  link(rel='stylesheet', href='/stylesheets/style.css')

  h1.title= title
  p Bienvenue sur l'administration de #[em Notre voyage aux USA]. Ici, vous pouvez contrôler le planning et la carte.

  br
  hr

  if error
    p Error getting dynamic content.
  else
    h2.subtitle Contenu de la base de données :

    ul
      li #[strong Evenements:] !{data.event_count}