extends layout

block content

  link(rel='stylesheet', href='/stylesheets/style.css')

  h1= title
  p Bienvenue sur #[em USABACKEND], notre backend pour le site USA 2019.

  h3 Contenu dynamique

  #map

  if error
    p Error getting dynamic content.
  else
    p Contenu de la base de donnée :

    ul
      li #[strong Evenements:] !{data.event_count}

  include scripts.html
  