doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Compiled and minified CSS
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')

    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

  
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col s2')
          block sidebar
            ul(class='collection')
              li 
                a.collection-item(href='/catalog') Accueil
              li 
                a.collection-item(href='/catalog/events') Tous les évenements
              li 
                div.divider
              li 
                a.collection-item(href='/catalog/event/create') Créer un nouvel evenement
        div(class='col s6')
          block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')