doctype html
html(lang='fr')
  head
    
    title= title
    meta(charset='utf-8')

    include stylesheets.html
    include scripts.html

    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')


  body
    nav.nav
    .navbar-start
        div.control.navbar-item
            a(href='/')
                span.tag.is-primary.is-large.is-rounded
                    span.icon(style='margin: 0 2px 0 0px;')
                        i.fas.fa-chevron-left
                    div Site
    


    .columns(style='margin: 10px 0 0 10px;')
      .column.is-one-fifth
        aside.menu
          p.menu-label General
          ul.menu-list
            li 
              a(href='/admin') Accueil administration
          p.menu-label Carte
            ul.menu-list
              a(href='/admin/position/update') Mettre à jour les positions
              a(href='/admin/position/list') Historique des positions
              a(href='/admin/position/create') Entrer une position
          p.menu-label Planning
          ul.menu-list
            li
              a(href='/admin/events') Liste des évènements
              a(href='/admin/event/create') Créer un évenement
          p.menu-label Utilisateurs
            ul.menu-list
              a(href='/admin/user/list') Liste des utilisateurs
              a(href='/admin/user/create') Créer un utilisateur

      .column
        block content

