doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')

    include stylesheets.html

    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')


  body





    div(class='container-fluid')
      div(class='row')
        div(class='col s2')
          block sidebar
            ul(class='collection z-depth-2')
              li 
                a.waves-effect.collection-item.center-align.active(href='/') Retour au site
              li 
                a.waves-effect.collection-item(href='/catalog') Accueil
              li 
                a.waves-effect.collection-item(href='/catalog/events') Tous les évenements
              li 
                div.divider
              li 
                a.waves-effect.collection-item(href='/catalog/event/create') Créer un nouvel evenement
        div(class='col s6')
          block content

