extends layout


block content
	script(src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js')
	link(href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet')
	h1.title= title

	div(id='map' style='width: 400px; height: 300px;')

	script(src='/javascripts/mapbox.js')
	link(rel="stylesheet", href="/stylesheets/map.css")




	//#map

	br
	.buttons.has-addons
		a.button.is-rounded Mettre à jour Valentin
		a.button.is-rounded Mettre à jour Florian