<!--  Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>if (!window.jQuery) { document.write('<script src="bin/jquery-3.2.1.min.js"><\/script>'); }
</script>

<!-- Compiled and minified Materialize Script -->
<script src='/javascripts/materialize.min.js' ></script>

<!-- Materialize personnal file -->
<script src="/javascripts/material.js"></script>

<!--  LeafletJS -->
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<!-- Pulse Master -->
<script src="/javascripts/L.Icon.Pulse.js"></script>

<!-- Fontawesome Icons-->
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>