
<div class="body">
    <h4>ADMIN</h4>
<!--
    <div class="card">

        <header class="card-header">

            <p class="card-header-title">AJOUTER UN EVENEMENT</p>

        </header>

        <div class="card-content" [formGroup]="userform">

            <div class="field">
                <label class="label">Date & heure*</label>
                <div class="control">
                    <input class="input" type="datetime-local" formControlName="date" name="date" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Nom de l'évenement*</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Nom" formControlName="name" name="name" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Vous pouvez ajouter une description"
                        formControlName="description" name="description"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Etat*</label>
                <div class="control">
                    <div class="select">
                        <select formControlName="isDone" name="isDone" required>
                            <option>Selectionnez un etat</option>
                            <option>Fait</option>
                            <option>Pas fait</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Position</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Longitude" formControlName="long" name="long">
                </div>
                <br>
                <div class="control">
                    <input class="input" type="text" placeholder="Latitude" formControlName="lat" name="lat">
                </div>
            </div>

        </div>

        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <a (click)="addEvent()" class="button is-primary">
                    Envoyer
                </a>
            </p>
        </div>

        <button mat-raised-button (click)="addEvent()" color="primary">Register</button>

        <p>* : Ce champ est obligatoire</p>
    </div>-->

     <div class="card">

        <mat-card>
            <mat-card-title>Ajouter un evenement</mat-card-title>

            <mat-card-content>
                <form class="formevent">
                    <table cellspacing="0" [formGroup]="eventForm">

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput type="datetime-local" placeholder="Date & heures"
                                        formControlName="date" name="date">
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Nom de l'evenement" formControlName="name"
                                        name="name" required>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <textarea matInput placeholder="Description" formControlName="description"
                                        name="description"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Etat" formControlName="isDone" name="isDone" required>
                                        <mat-option value="true">Fait</mat-option>
                                        <mat-option value="false">Pas fait</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Longitude" formControlName="longitude"
                                        name="longitude">
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Latitude" formControlName="latitude"
                                        name="latitude">
                                </mat-form-field>
                            </td>
                        </tr>

                    </table>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="addEvent()" color="primary">Envoyer</button>
            </mat-card-actions>
        </mat-card>

    </div>



</div>