<!-- LOGO -->
<section class="section logo_section has-text-centered">


    <a [routerLink]="['/']" class="logo"><img src="../../assets/img/logo_usa.png" alt=""></a>


</section>

<!-- TUILES -->
<section class="section">

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <div class="columns is-vcentered ">
                            <div class="column has-text-centered">
                                <img src="assets/icons/icone_valentin.png" width="120px" alt="Valentin">
                                <p class="subtitle">Valentin</p>
                            </div>
                            <div class="column has-text-centered is-half">

                                <a href="https://www.facebook.com/valentingubrt"
                                    class="button is-primary is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-facebook"></i>
                                    </span>
                                    <span>Valentin Guibert</span>
                                </a>
                                <a href="https://www.instagram.com/valentinguibert/"
                                    class="button is-primary is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                    <span>valentinguibert</span>
                                </a>
                                <a href="https://twitter.com/VGuibert"
                                    class="button is-primary is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                    <span>@VGuibert</span>
                                </a>
                                <a class="button is-primary is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                    <span>+33 6 88 00 23 15</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="tile is-child notification is-info">
                        <div class="columns is-vcentered ">
                            <div class="column has-text-centered">
                                <img src="assets/icons/icone_florian.png" width="120px" alt="Florian">
                                <p class="subtitle">Florian</p>
                            </div>
                            <div class="column has-text-centered is-half">

                                <a href="https://www.facebook.com/florian.rouaud.1"
                                    class="button is-info is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-facebook"></i>
                                    </span>
                                    <span>Florian Rouaud</span>
                                </a>
                                <a href="https://www.instagram.com/floww_rd/"
                                    class="button is-info is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                    <span>floww_rd</span>
                                </a>
                                <a class="button is-info is-fullwidth is-inverted">
                                    <span class="icon">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                    <span>+33 6 14 43 17 86</span>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Positions</p>
                        <div id="map"></div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <div class="columns is-vcentered">

                    </div>
                    <div class="content">
                        <p class="title">Photos</p>

                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Planning</p>
                    <p class="subtitle">Lundi 08 Avril</p>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small">a</a>
                        <p>06:38 Départ du train pour Paris Montparnasse</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">08:38 Arrivée à Paris Montparnasse</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">16:20 Départ de l'avion pour Denver</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">18:15 (02:15) Arrivée à Denver</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">21:15 Sortie avec la voiture</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">21:45 Arrivée à l'hôtel</p>
                    </div>
                    <p class="subtitle">Mardi 09 Avril</p>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">11:00 Départ de l'hôtel</p>
                    </div>
                    <p class="subtitle">Mercredi 17 Avril</p>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">20:15 (04:15) Départ de l'avion pour Paris</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">13:15 Arrivée de l'avion à Paris</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">18:48 Départ du train vers Nantes</p>
                    </div>
                    <div class="is-flex">
                        <a class="button is-success is-loading is-small" disabled>a</a>
                        <p class="is-not-done">20:48 Arrivée du train à Nantes</p>
                    </div>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>

</section>